.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.visually-hidden > img {
  visibility: visible;
}

.visually-hidden {
  position: fixed;
  left: -9999px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0c55f3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}

.toggle-button {
  position: fixed;
  left: 65px;
  bottom: 113px;
  height: 74px;
  width: 80px;
  transition: 1s;
  transform: rotateY(180deg);
}

.toggle-button2 {
  position: fixed;
  left: -200px;
  bottom: 100px;
  height: 100px;
  width: 328px;
  transition: 1s;
}

.toggle-button3 {
  position: fixed;
  left: 85px;
  bottom: 135px;
  height: 30px;
  width: 30px;
  transition: 1s;
  transform: rotateY(180deg);
}

.active-link {
  background: linear-gradient(#00c8ff, #025af1); /* customize colors here */
  color: white;
}

#main {
  transition: 1s;
}
