@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');

@media screen and (width <= 910px) {
  .on-right {
    display: none;
  }
}

@media screen and (width >= 475px) {
  .wide {
    display: block;
  }

  .small {
    display: none;
  }
}

@media (width <= 674px) {
  .wide {
    display: none;
  }

  .small {
    display: block;
  }
}

.transition-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.reservation {
  background-color: rgb(150 191 1 / 90%);
}

#file-upload-button {
  background-color: transparent;
  border: none;
}

.round-shape {
  border-radius: 50%;
  border: 2px rgb(150 191 1) solid;
}
